{% extends 'base.html' %}

{% block content %}
    <h2>Classic League: {{ object.league.name }}</h2>
    <table>
        <thead>
        <tr>
            <th>Team</th>
            <th>Manager</th>
            <th>Entry Paid</th>
            <th>Score</th>
        </tr>
        </thead>
        <tbody>
        {% for entrant in object.entrants %}
            <tr>

                <td>
                    <a href="https://fantasy.premierleague.com/a/team/{{ entrant.manager.fpl_manager_id }}">{{ entrant.manager.team_name }}</a>
                </td>
                <td>
                    {{ entrant.manager.entrant.first_name }} {{ entrant.manager.entrant.last_name }}
                </td>
                <td>{{ entrant.paid_entry }}</td>
                <td>{{ entrant.score }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <h3>Last Updated: {{ object.last_updated }}</h3>
    <form action="{% url 'fpl:classic-league:refresh-data' object.pk %}" method="post">
        {% csrf_token %}
        <input type="submit" value="Refresh League Data"/>
    </form>

{% endblock %}